/* You can add global styles to this file, and also import other style files */
.square {
    height: 100px;
    width: 100px;
    background-color: #555;
    margin: 10px;
  }

  .circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }

  .oval {
    height: 50px;
    width: 100px;
    background-color: #555;
    border-radius: 50%;
  }

  .red {
    background-color: red; /* red */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .green {
    background-color: greenyellow; /* green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  button.redondo {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
  }